= form_for @poll do |f|
  - if @poll.errors.any?
    #error_explanation
      %h3.text-danger= "#{pluralize(@poll.errors.count, "error")} prohibited this poll from being saved:"
      %ul
        - @poll.errors.full_messages.each do |msg|
          %li= msg

  %p
    = f.label :title
    = f.text_field :title, class: "form-control input-lg"
  %p

    = f.submit 'Save', class: "btn btn-primary"
